body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: auto;
}
/*NAVIGATION*/
.navbar {
  width: 100%;
  height: 100%;
  background-color:rgb(202, 247, 239);
  overflow: auto;
}

.navbar a {
  float: right;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.title {
  line-height: 1.7;
  margin-left: 15px;
  font-size: 30px;
}

.navbar a:hover {
  background-color: white;
}

.blurb {
  word-spacing: 1px;
  text-shadow: 1px 1px white;
}


/*SHOPPING CART*/
.cart{
    overflow: auto;
    width: 860px;
    margin: 5px auto 0 auto;
    border: 2px solid black;
}

.item {
    display: block;
    margin: 15px 10px 4px 10px;
    padding-bottom: 0px;
}

.cart-img {
    width: 120px;
    height: 120px;
    float: left;
}

.cart-desc {
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0px;
    padding-left: 10px;
}

.quantity {
    float: right;
    line-height: 115px;
    padding: 0;
}

.total {
    float: right;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 0px;
}

.details {
    margin: 10px auto 0 auto;
    width: 180px;
}

.submit {
    float: right;
}

/*INTRODUCTION*/
.container {
  position: relative;
  text-align: center;
  color: white;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: black;
}
/*DEALS OF THE DAY & PRODUCTS*/
h1{
  text-align: center;
  margin-top: 30px;
  margin-bottom:10px;
}

section {
  max-width: 860px;
  margin: 0 auto 0 auto;
}

article {
  margin-top: 20px;
}

h2, h3, table {
  text-align: center;
  margin: 10px auto 0 auto;
}

.search {
  float: right;
  margin-top: 2px;
}

.deals {
  border-spacing: 20px;
  padding-bottom: 10px;
}

.deals img {
  height: 150px;
  width: 150px;
}

.deals td {
  border: 2px solid gray;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  margin-left: 10px;
}

button {
  margin-top: 5px;
}

.search {
  float: right;
  margin-top: 8px;
}

table {
  border-spacing: 20px;
}

table img {
  height: 150px;
  width: 150px;
}

.product {
  border: 2px solid gray;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.cart-btn{
  padding: 10px 30px;
  background-color: #2980b9;
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.cart-btn a {
  text-decoration: none;
  color: white;
}

/*FEEDBACK-SLIDER*/
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
  margin-left: 150px;
  margin-right: 150px;
}

.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
    margin-left: 150px;
    margin-right: 150px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

q {font-style: italic;}

.author {color: cornflowerblue;}

/*FEEBACK-MODAL*/

.feedback-section{
  text-align: center;
  padding-top: 10px;
}
.feedback-section button{
  margin: 20px;
  padding: 10px 30px;
  background-color: #2980b9;
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.modal-bg{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opacity 0.5s;
}

.bg-active{
  visibility: visible;
  opacity: 1;
}

.modal{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.modal button{
  padding: 10px 30px;
  background-color: #2980b9;
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;

}

.modal-close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal table {
  border-spacing: 5px;
  text-align: left;
}

.modal input{
  width: 415px;
}

.modal td {
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  margin-left: 10px;
}




/*FOOTER*/
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgb(202, 247, 239);
   color: black;
   margin: 0 auto 0 auto;
}

.footer-table{
  padding-top: 10px;
  width: 700px;
  text-align: center;
  margin: 10px auto 0px auto;
  border-spacing: 0;
  height: 80px;
}

.footer-table td{
  padding: 0px;
  width: 350px;
}

.contact-table{
  text-align: left;
  width: 50px;
}

.footer-table a{
  text-decoration: none;
  color: black;
}

.footer-table li{
  padding-bottom: 7px;
  text-align: left;
}

.footer a:hover{
  color: red;
}
